@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu|Rokkitt');

/* Home page styles */

#mynameis, #job {
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
  opacity: 0%;
}

#mynameis {
  animation: left-fade 1s ease-in 0s 1 normal forwards;
}

#name {
  animation: down-fade 1s ease-in 1s 1 normal forwards;
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
  font-weight: bold;
  opacity: 0%;
}

#job {
  animation: right-fade 1s ease-in 2s 1 normal forwards;
}

#intro {
  animation: fade 1s ease-in 3s 1 normal forwards;
  font-family: "Rokkitt", serif;
  font-size: 24px;
  opacity: 0%;
}

#slope-headshot {
  animation: down-fade 1s ease-in 3s 1 normal forwards;
  opacity: 0%;
}

#icon-links {
  animation: up-fade 1s ease-in 3s 1 normal forwards;
  opacity: 0%;
}

#resume, #linkedin, #github, #google {
  color: black;
  transform: scale(0.5);
}

#resume:hover, #linkedin:hover, #github:hover, #google:hover {
  animation: spin 1s ease-in-out 0s 1 normal forwards;
  opacity: 100%;
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes left-fade {
  from {
    opacity: 0%;
    transform: translateX(-25px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes right-fade {
  from {
    opacity: 0%;
    transform: translateX(25px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes down-fade {
  from {
    opacity: 0%;
    transform: translateY(-25px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes up-fade {
  from {
    opacity: 0%;
    transform: translateY(25px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(0.5);
  }
  to {
    transform: rotate(359deg) scale(0.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

/* Navigation bar styles */

#brand {
  font-family: "Permanent Marker", sans-serif;
  font-size: 36px;
}

.navbar {
  background-color: white;
}

.navbar-link, .navbar-link:hover {
  color: black;
  display: inline-block;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

.navbar-link:after {
  background-color: black;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.navbar-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}






/* TODO */

.jumbotron {
  background-color: lightgray;
}

#page-title {
  font-family: Ubuntu, sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-variant: small-caps;
}

#page-body {
  font-family: "Rokkitt", serif;
  font-size: 24px;
}

#card-title {
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#card-subtitle {
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  color: gray;
}

#card-body {
  font-family: "Rokkitt", serif;
  font-size: 18px;
}

#card-button {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-color: black;
  color: black;
  background: linear-gradient(to left, white 50%, black 50%) right;
  background-size: 200%;
  transition: .5s ease-in-out;
}

#card-button:hover {
  background-position: left;
  color: white;
}

